{% extends "base.html" %}

{% block title %}Resume - Pavani Karnati{% endblock %}

{% block content %}
<section class="resume-section">
  <h2 >Resume</h2>
  <p>Take a look at my professional experience and skills. You can view it directly in your browser or download a PDF copy for your convenience.</p>

  <div class="resume-actions">
    <a href="{{ url_for('static', filename='files/Pavani_Karnati_Resume.pdf') }}" target="_blank" class="resume-btn view-btn">
      <i class="fas fa-eye"></i> View Resume
    </a>
    <a href="{{ url_for('static', filename='files/Pavani_Karnati_Resume.pdf') }}" download class="resume-btn download-btn">
      <i class="fas fa-download"></i> Download Resume
    </a>
  </div>
</section>
{% endblock %}
